/* CSS Document */
.nav_search_fj{margin-left:220px; display:inline;}

.jfjlb_lpdu_fj{padding-left:20px; padding-right:20px;}
.jfjlb_lpdu_fj{ background:url(../../images/common/jfjlb_wdxx_footerbg.gif) left bottom no-repeat; zoom:1; overflow:hidden;}
.jfjlb_lpdu_fj ul{ width:150px; float:left; padding:10px 0px;}
.jfjlb_lpdu_fj .lpdh_fj{width:225px;}
.jfjlb_lpdu_fj ul p{ text-align:center; line-height:20px; font-size:12px; color:#588300;}
.jfjlb_lpdu_fj ul p img{ margin:5px 0px; }
.tc_lb ul li{float:left;width:185px; background:url(../../images/page/ywjs_wdej_taocanboxbg.gif) left top no-repeat; height:181px;display:block; margin:0px 12px 0px 12px;}
.tc_lb{height:181px;  float:left;width:627px; padding-top:15px; margin-top:10px; overflow:hidden;}
.tc_lb ul li h6,.tc_lb ul li h6 a{ font-size:14px; line-height:27px; font-weight:bold; color:#636363; text-align:center; padding-top:15px;}
.tc_lb ul li p{ font-size:12px; line-height:18px; color:#ff7519;}
.mid_p_fj{font-size:12px; line-height:18px; color:#ff7519; padding:0px 15px 15px 15px; height:65px; overflow:hidden;}
.tc_lb ul li p a{ color:#014a00; padding:0px; margin:0px; text-align:center; display:block;}
.tc_lb ul li p a:hover{ color:#014a00; text-decoration:underline;}
.left_btn_fj img {cursor: pointer; float:left; padding-top:50px;}
.right_btn_fj img {cursor: pointer;float:left; padding-top:50px;}
.fj_gg{font-size:12px; font-weight:bold; color:#666;display:inline; float:right; margin-top:14px; background:url(../../images/home/radio.gif) no-repeat right;  padding-right:14px;}
.fj_gg a{font-size:12px; font-weight:bold; color:#666;}
.fj_gg a:HOVER{color:#FF6900;}
.fj_index_newsT_gundongtxt{width:250px; text-align:right;font-size:12px; line-height:18px; overflow:hidden; height:24px; position:relative;}
.fj_index_newsT_gundongtxt a{ display:block; color:#666;}
.fj_index_newsT_gundongtxt ul li{width:250px; }

.ywjs_wdejC_fj h1{ background:url(../../images/page/ywjs_wdej_hbg.gif) left top repeat-x; height:32px; color:#000; font-size:14px; font-weight:bold; padding:10px 0px 20px 20px; line-height:32px; position:relative; }
.list_a{background:url(../../images/gg_list_dot1.gif) no-repeat left; line-height:35px;padding-left:15px; font-size:12px; overflow:hidden; margin:0px 20px; color:#000; border-bottom:1px dashed #cecece;}
.list_a a{color:#000; font-size:12px;}
.city_fj{margin-left:20px; padding:13px 0 0 0; display:inherit; width:700px; height:31px;}
.city_fj_textl{float:left;font-size: 13px; margin-top:10px;margin-left:20px; font-weight: bold; color:#fe6500; cursor: pointer; overflow:hidden;}
.city_fj_textr{float:right;font-size: 13px;margin-right:20px;margin-top:10px;overflow:hidden;}
.ywjs_list{  border-bottom: 1px solid #CCCCCC;display: inline;float: left;margin: 0 0 0 15px;width: 685px;}
.ywjs_wdejC_fj{ width:720px; border:#ccc 1px solid; margin-top:10px; overflow:hidden; padding-bottom:30px;}

/* ======首页导航样式====== */
.index_leftnav_fj{ width:221px; height:auto;background:url(../../images/home/index_lestbg_fj.gif) left bottom no-repeat; margin-top:0px; padding-bottom:7px;}
.index_leftnav_fj li,.index_leftnav li.out,.index_leftnav li.on,.index_leftnav li.on_1{  z-index:510;cursor:pointer; height:48px;line-height:48px; vertical-align:middle; font-size:12px; color:#666; padding-left:15px; position:relative; background:none;}
.index_leftnav_fj li .left_img{position:relative; top:9px; padding-right:10px;width:30px;height:30px;}
.index_leftnav_fj li .right_img{ position:absolute; top:20px; right:15px;}
.index_leftnav_fj li a{ font-size:12px; color:#666;}
.index_leftnav_fj li b a{ font-size:14px; color:#598200; font-weight:abold; margin-right:8px;}

/* ======首页导航2样式====== */

.common_quickpo_fj{ position:absolute; left:11px; top:37px; background:url(../../images/common/common_quick_bg_fj.gif) left bottom no-repeat; width:204px; height:auto; padding-bottom:6px; display:none; z-index:2000}
.common_quickpo_fj li{cursor:pointer; height:44px; line-height:40px; font-size:12px; color:#666; padding-left:10px; position:relative; z-index:2001;}
.common_quickpo_fj li.on{ background:url(../../images/common/common_quick_bg_01.gif) no-repeat; overflow:hidden;}
.common_quickpo_fj li .left_img{position:relative; top:9px; padding-right:10px; display:inline;width:30px;height:30px;}
.common_quickpo_fj li .right_img{ position:absolute; top:20px; right:15px;}
.common_quickpo_fj li b a{ font-size:14px; color:#598200; font-weight:bold; margin-right:8px;}
.common_quickpo_fj li a{ font-size:12px; color:#666;}
.common_quickpo_fj_box{ position:absolute; width:320px; right:-375px; background-color:#FFF;top:0px; border:1px solid #999999; border-right:3px solid #999999; border-bottom:2px solid #999999; padding:10px 30px; display:none;}
.common_quickpo_box ul{ border-bottom:1px dashed #cdcdcd; padding:10px 0px; font-size:12px; line-height:21px; color:#676767;}
.common_quickpo_box ul h6{ font-weight:bold; padding-left:5px;}
.common_quickpo_box ul a{ color:#676767; margin:0px 5px;}
.common_quickpo_box ul a:hover{ color:#676767; text-decoration:underline;}

/* ======左边导航样式====== */

.index_leftnav_po_fj{ position:absolute; width:320px; left:205px; background-color:#FFF;top:0px; border:1px solid #578400; border-right:3px solid #578400; border-bottom:2px solid #578400;padding:0px 30px 10px 30px; display:none;}
.index_leftnav_po_fj1{position:absolute; width:320px; left:195px; background-color:#FFF;top:0px; border:1px solid #578400; border-right:3px solid #578400; border-bottom:2px solid #578400;padding:0px 30px 10px 30px; display:none;}
.index_leftnav_po_fj ul,.index_leftnav_po_fj1 ul{ border-bottom:1px dashed #cdcdcd; padding:10px 0px; font-size:12px; line-height:21px; color:#676767;}
.index_leftnav_po_fj ul h6,.index_leftnav_po_fj1 ul h6{ font-weight:bold; padding-left:5px;}
.index_leftnav_po_fj ul a,.index_leftnav_po_fj1 ul a{ color:#676767; margin:0px 5px;}
.index_leftnav_po_fj ul a:hover,.index_leftnav_po_fj1 ul a:hover{ color:#676767; text-decoration:underline;}
.index_leftnav_fj .li_on,.index_leftnav_fj1 .li_on{background-color:#fff; border:1px solid #578400; border-right:none;display:block; width:190px; height:46px}
.common_quickpo_fj .li_on1{background-color:#fff; border:1px solid #578400; border-right:none;display:block; width:185px;}
.common_quickpo_fj .li_out1{ background:none;}
/* ======左边导航样式====== */
.common_nav_left{ margin-top:10px;}
.common_nav_left h5{ background:url(../../images/common/common_leftnavtop.gif) left top no-repeat; height:32px; color:#598200; font-size:14px; font-weight:bold; padding-left:20px; line-height:32px;}
.common_nav_left h5 a{color:#588400; font-size:14px; font-weight:bold;line-height:32px; cursor:pointer;}
.common_nav_left_footer{ background:url(../../images/common/common_leftnavfooter.gif) left bottom no-repeat; padding-bottom:7px;}
.common_nav_left_footer_div_fj{ padding:0px; margin:0px;}
.common_nav_left_footer_ul_fj{ border-bottom:1px solid #cacaca; height:44px; padding:0px 15px;}

.common_nav_left_footer_ul_po_fj{ position:absolute; width:320px; left:215px; background-color:#FFF;top:40px; border:1px solid #578400; border-right:1px solid #578400; border-bottom:2px solid #578400;padding:10px 30px; display:none;}
.common_nav_left_footer_ul_po_fj ul{ border-bottom:1px dashed #cdcdcd; padding:10px 0px; font-size:12px; line-height:21px; color:#676767;}
.common_nav_left_footer_ul_po_fj ul h6{ font-weight:bold; padding-left:5px;}
.common_nav_left_footer_ul_po_fj ul a{ color:#676767; margin:0px 5px;}
.common_nav_left_footer_ul_po_fj ul a:hover{ color:#676767; text-decoration:underline;}
.common_nav_left_footer_ul_fj .h2_out{ background:url(../../images/common/common_leftsanjiao.gif) right top no-repeat; height:44px; cursor:pointer;}
.common_nav_left_footer_ul_fj .h2_on{ background:none;}
.common_nav_left_footer_h2{ background:url(../../images/common/common_leftsanjiaoon.gif) right top no-repeat;}
.ul_on{ background:#fff; border:1px solid #578400; border-right:none;display:block; position:relative;z-index:1005; width:185px;}
.common_nav_left_footer_ul_fj h2 span{height:44px; display:block; font-size:14px; color:#598200; font-weight:bold; line-height:44px; }
.common_nav_left_footer_ul_fj h2 img{position:relative; top:5px; padding-right:10px; display:inline; float:left;}
.common_nav_left_footer_ul_fj h2 span a{height:44px; display:block; font-size:14px; color:#598200; font-weight:bold; line-height:44px; }
