

<table class="new_shoplogo">


						<td width="96" height="71">#foreach($homePage in $homePageList) #if($velocityCount==1)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						<td width="96" height="71">#foreach($homePage in $homePageList) #if($velocityCount==2)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						<td width="98" height="71">#foreach($homePage in $homePageList) #if($velocityCount==3)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>

							<tr>
						<td width="96" height="71">#foreach($homePage in $homePageList) #if($velocityCount==4)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						<td width="96" height="71">#foreach($homePage in $homePageList) #if($velocityCount==5)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						<td width="98" height="71">#foreach($homePage in $homePageList) #if($velocityCount==6)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						</tr>
							
								<tr>
						<td width="96" height="71">#foreach($homePage in $homePageList) #if($velocityCount==7)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						<td width="96" height="71">#foreach($homePage in $homePageList) #if($velocityCount==8)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						<td width="98" height="71">#foreach($homePage in $homePageList) #if($velocityCount==9)<a href="$!{homePage.link}"><img src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" width="92" height="70"/></a>#end #end</td>
						</tr>
								
</table>
			
				<a href="shop" class="more_newshop">更多>></a>
