<div class="coupon">
					<div class="title">
						<div style="float: left;" class="hot_rec">
							热门活动
						</div>
						<div class="more">
								#*<a style="color: #578307;" href="#">+更多</a>*#
						</div>
					</div>
					<ul>
					   #foreach($homePage in $homePageList)
						<li>
							<div class="hot_recom">
							<p class="tui_hongse"></p>
								<div>
									<a href="$!{homePage.link}" ><img width="227" height="143"
										src="/coupon/goods0/img/$!{homePage.imgurl}" alt="" /></a>
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="$!{homePage.link}" style="color:#FFF" class="canjbtn">$!{homePage.description}
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
						#end

					</ul>
				</div>