
 
 
				<div class="week">
						<div class="week_I">
							<h2>
								精选活动
							</h2>
							<div>
							     								<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/activityDetail.html?id=4">
											<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189657406_-7945669347077834327.jpg">
										</a>
									</li>
									<li class="week_A2">
														    味好美家常经典菜谱式调料免费派发...<a target="_blank" href="/coupon/activityDetail.html?id=4">立即查看&gt;&gt;</a></li>
									</li>
								</ul>
																<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/activityDetail.html?id=5">
											<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189686546_1484171517928975704.jpg">
										</a>
									</li>
									<li class="week_A2">
														    樱之花热力贴冬日给力派发中～...<a target="_blank" href="/coupon/activityDetail.html?id=5">立即查看&gt;&gt;</a></li>
									</li>
								</ul>
																<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/activityDetail.html?id=6">
											<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189712046_1456380245486381321.jpg">
										</a>
									</li>
									<li class="week_A2">
														    中粮集团 我买网产品免费领取活动...<a target="_blank" href="/coupon/activityDetail.html?id=6">立即查看&gt;&gt;</a></li>
									</li>
								</ul>
																<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/activityDetail.html?id=7">
											<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189736531_-898635496424056992.jpg">
										</a>
									</li>
									<li class="week_A2">
														    阿华田乐活五谷随身包免费派发中～...<a target="_blank" href="/coupon/activityDetail.html?id=7">立即查看&gt;&gt;</a></li>
									</li>
								</ul>
																<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/activityDetail.html?id=8">
											<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189773812_8538858945376852381.jpg">
										</a>
									</li>
									<li class="week_A2">
														    可采上品营肌系列面膜免费派发中～...<a target="_blank" href="/coupon/activityDetail.html?id=8">立即查看&gt;&gt;</a></li>
									</li>
								</ul>
															</div>
						</div>
					</div>