		
		
		
		
		
		 		<li class="rec_btm_content_act">
					<div>
						<img width="90" height="90" src="/coupon/goods0/img/1_11225_1330932771250_25741765861689597.jpg" title="活动"></img>
					</div>
					<div class="rec_btm_act_desc">
						<div class="rec_btm_act_desc_c">
						
											    [啡比寻茶]满30元抵用20元现金...
						</div>
						<div class="rec_btm_act_desc_btn">
							<a href="/coupon/activityDetail.html?id=4">立即查看</a>
						</div>
					</div>
				</li>
						<li class="rec_btm_content_sep"><div></div></li>
								<li class="rec_btm_content_act">
					<div>
						<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189686546_1484171517928975704.jpg" title="活动"></img>
					</div>
					<div class="rec_btm_act_desc">
						<div class="rec_btm_act_desc_c">
						
											    樱之花热力贴冬日给力派发中～...
						</div>
						<div class="rec_btm_act_desc_btn">
							<a href="/coupon/activityDetail.html?id=5">立即查看</a>
						</div>
					</div>
				</li>
						<li class="rec_btm_content_sep"><div></div></li>
								<li class="rec_btm_content_act">
					<div>
						<img width="90" height="90" src="/coupon/goods0/img/1_112114_1329189773812_8538858945376852381.jpg" title="活动"></img>
					</div>
					<div class="rec_btm_act_desc">
						<div class="rec_btm_act_desc_c">
						
											    可采上品营肌系列面膜免费派发中～...
						</div>
						<div class="rec_btm_act_desc_btn">
							<a href="/coupon/activityDetail.html?id=8">立即查看</a>
						</div>
					</div>
				</li>
						