


							 								<li>
									<a href="/coupon/shopdetail.html?id=101"><img width="128px" height="80px"
											src="/coupon/goods0/img/1_112114_1329189397843_9091773759916537544.jpg" alt="" /> </a>
								</li>
																<li>
									<a href="/coupon/shopdetail.html?id=102"><img width="128px" height="80px"
											src="/coupon/goods0/img/1_112114_1329189401000_276761134875585119.jpg" alt="" /> </a>
								</li>
																<li>
									<a href="/coupon/shopdetail.html?id=100"><img width="128px" height="80px"
											src="/coupon/goods0/img/1_112114_1329189404625_-6087533971127218326.jpg" alt="" /> </a>
								</li>
																<li>
									<a href="/coupon/shopdetail.html?id=101"><img width="128px" height="80px"
											src="/coupon/goods0/img/1_112114_1329189397843_9091773759916537544.jpg" alt="" /> </a>
								</li>
																<li>
									<a href="/coupon/shopdetail.html?id=101"><img width="128px" height="80px"
											src="/coupon/goods0/img/1_112114_1329189397843_9091773759916537544.jpg" alt="" /> </a>
								</li>
								