


<ul id="mycarousel">
						 							<li>
							<a href="/coupon/couponDetail.html?id=115"><img src="/coupon/goods0/img/1_112213_1331615313859_801915526072347945.jpg" alt="" width="188" height="215"/></a>
							</li>
													<li>
							<a href="/coupon/shopdetail.html?id=100"><img src="/coupon/goods0/img/1_112114_1329184013281_6919677482337820910.jpg" alt="" width="188" height="215"/></a>
							</li>
													<li>
							<a href="/coupon/shopdetail.html?id=101"><img src="/coupon/goods0/img/1_112114_1329183990515_-2328317889019368783.jpg" alt="" width="188" height="215"/></a>
							</li>
													<li>
							<a href="/coupon/shopdetail.html?id=99"><img src="/coupon/goods0/img/1_112114_1329184003718_2112515426162560939.jpg" alt="" width="188" height="215"/></a>
							</li>
						</ul>