

<table class="new_shoplogo">


						<td width="96" height="71"> <a href="/coupon/shopdetail.html?id=101"><img src="/coupon/goods0/img/1_112114_1329181479500_8732994808501733428.jpg" alt="" width="92" height="70"/></a>                       </td>
						<td width="96" height="71">   <a href="/coupon/shopdetail.html?id=99"><img src="/coupon/goods0/img/1_112114_1329181403703_-89035428580486571.jpg" alt="" width="92" height="70"/></a>                     </td>
						<td width="98" height="71">     <a href="/coupon/shopdetail.html?id=100"><img src="/coupon/goods0/img/1_112114_1329181370656_8867309061224847516.jpg" alt="" width="92" height="70"/></a>                   </td>

							<tr>
						<td width="96" height="71">       <a href="/coupon/shopdetail.html?id=102"><img src="/coupon/goods0/img/1_112114_1329181439140_5536004391937048783.jpg" alt="" width="92" height="70"/></a>                 </td>
						<td width="96" height="71">         <a href="/coupon/shopdetail.html?id=102"><img src="/coupon/goods0/img/1_112114_1329181439140_5536004391937048783.jpg" alt="" width="92" height="70"/></a>               </td>
						<td width="98" height="71">           <a href="/coupon/shopdetail.html?id=100"><img src="/coupon/goods0/img/1_112114_1329181370656_8867309061224847516.jpg" alt="" width="92" height="70"/></a>             </td>
						</tr>
							
								<tr>
						<td width="96" height="71">             <a href="/coupon/shopdetail.html?id=99"><img src="/coupon/goods0/img/1_112114_1329181403703_-89035428580486571.jpg" alt="" width="92" height="70"/></a>           </td>
						<td width="96" height="71">               <a href="/coupon/shopdetail.html?id=101"><img src="/coupon/goods0/img/1_112114_1329181479500_8732994808501733428.jpg" alt="" width="92" height="70"/></a>         </td>
						<td width="98" height="71">                 <a href="/coupon/shopdetail.html?id=102"><img src="/coupon/goods0/img/1_112114_1329181439140_5536004391937048783.jpg" alt="" width="92" height="70"/></a>       </td>
						</tr>
								
</table>
			
				<a href="shop" class="more_newshop">更多>></a>
