
<div class="index_yhq_content">	
											<div class="index_tjyh">
										<div class="index_yhq_module">
												<h3>三店通用</h3>
												<p><span class="stress">仅49元！</span>[韩坊韩国传统料理]菜品8.8折</p>
												<p><a href="/coupon/couponDetail.html?id=108"><img src="/coupon/goods0/img/1_112114_1329182378781_-3442579263707684895.jpg" alt="" width="174" height="101"/></a></p>
										</div>
										<div class="ms_see">
											<a href="/coupon/couponDetail.html?id=108"><img src="/coupon/res/images/ms_see.png" alt=""/></a>
										</div>
									</div><!--end for index_tjyh-->
									
															<div class="index_tjyh">
										<div class="index_yhq_module">
												<h3>三店通用</h3>
												<p><span class="stress">仅49元！</span>[老北京涮羊肉东安南路店]自助48元/客 </p>
												<p><a href="/coupon/couponDetail.html?id=109"><img src="/coupon/goods0/img/1_112114_1329182392140_-8011046990478964888.jpg" alt="" width="174" height="101"/></a></p>
										</div>
										<div class="ms_see">
											<a href="/coupon/couponDetail.html?id=109"><img src="/coupon/res/images/ms_see.png" alt=""/></a>
										</div>
									</div><!--end for index_tjyh-->
									
															<div class="index_tjyh">
										<div class="index_yhq_module">
												<h3>三店通用</h3>
												<p><span class="stress">仅49元！</span>[小尖椒餐饮]9折优惠</p>
												<p><a href="/coupon/couponDetail.html?id=110"><img src="/coupon/goods0/img/1_112114_1329182398656_-7572719519213368618.jpg" alt="" width="174" height="101"/></a></p>
										</div>
										<div class="ms_see">
											<a href="/coupon/couponDetail.html?id=110"><img src="/coupon/res/images/ms_see.png" alt=""/></a>
										</div>
									</div><!--end for index_tjyh-->
									
															<div class="index_tjyh">
										<div class="index_yhq_module">
												<h3>三店通用</h3>
												<p><span class="stress">仅49元！</span>[新东方千禧大酒店]自助餐7折 </p>
												<p><a href="/coupon/couponDetail.html?id=111"><img src="/coupon/goods0/img/1_112114_1329182419296_-6404094893336888618.jpg" alt="" width="174" height="101"/></a></p>
										</div>
										<div class="ms_see">
											<a href="/coupon/couponDetail.html?id=111"><img src="/coupon/res/images/ms_see.png" alt=""/></a>
										</div>
									</div><!--end for index_tjyh-->
									
															<div class="index_tjyh">
										<div class="index_yhq_module">
												<h3>三店通用</h3>
												<p><span class="stress">仅49元！</span>[一鼎乾坤肥牛]菜品8折</p>
												<p><a href="/coupon/couponDetail.html?id=112"><img src="/coupon/goods0/img/1_112114_1329182403015_-9045616887246978198.jpg" alt="" width="174" height="101"/></a></p>
										</div>
										<div class="ms_see">
											<a href="/coupon/couponDetail.html?id=112"><img src="/coupon/res/images/ms_see.png" alt=""/></a>
										</div>
									</div><!--end for index_tjyh-->
									
															<div class="index_tjyh">
										<div class="index_yhq_module">
												<h3>三店通用</h3>
												<p><span class="stress">仅49元！</span>[啡比寻茶]满30元抵用20元现金</p>
												<p><a href="/coupon/couponDetail.html?id=113"><img src="/coupon/goods0/img/1_112114_1329182411687_-7421404609676357339.jpg" alt="" width="174" height="101"/></a></p>
										</div>
										<div class="ms_see">
											<a href="/coupon/couponDetail.html?id=113"><img src="/coupon/res/images/ms_see.png" alt=""/></a>
										</div>
									</div><!--end for index_tjyh-->
									
												<div class="clear"></div>		
							</div>

