
      <div class="shop_rec">
						<div class="title">
							<div style="float: left;">
								推荐商户
							</div>
							<div class="more">
								<a style="color: #578307;" href="#">+更多</a>
							</div>
						</div>
						<ul>
						 							<li>
								<div class="hot_recom_shop">
									<p class="tui_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
									<p>
										<a href="/coupon/shopdetail.html?id=101"><img width="180" height="170"
												src="/coupon/goods0/img/1_112114_1329183990515_-2328317889019368783.jpg" alt="" />
										</a>
									</p>
								</div>
								<!--end for hot_recom-->
							</li>

			       		 							<li>
								<div class="hot_recom_shop">
									<p class="tui_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
									<p>
										<a href="/coupon/shopdetail.html?id=102"><img width="180" height="170"
												src="/coupon/goods0/img/1_112114_1329183997203_6136727198268323163.jpg" alt="" />
										</a>
									</p>
								</div>
								<!--end for hot_recom-->
							</li>

			       		 							<li>
								<div class="hot_recom_shop">
									<p class="tui_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
									<p>
										<a href="/coupon/shopdetail.html?id=99"><img width="180" height="170"
												src="/coupon/goods0/img/1_112114_1329184003718_2112515426162560939.jpg" alt="" />
										</a>
									</p>
								</div>
								<!--end for hot_recom-->
							</li>

			       		 							<li>
								<div class="hot_recom_shop">
									<p class="tui_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
									<p>
										<a href="/coupon/shopdetail.html?id=100"><img width="180" height="170"
												src="/coupon/goods0/img/1_112114_1329184013281_6919677482337820910.jpg" alt="" />
										</a>
									</p>
								</div>
								<!--end for hot_recom-->
							</li>

			       		 							<li>
								<div class="hot_recom_shop">
									<p class="tui_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
									<p>
										<a href="/coupon/shopdetail.html?id=4715"><img width="180" height="170"
												src="/coupon/goods0/img/1_11225_1330930673759_-5003598662441226199.jpg" alt="" />
										</a>
									</p>
								</div>
								<!--end for hot_recom-->
							</li>

			       		 
						</ul>
					</div>