



<div class="coupon">
					<div class="title">
						<div style="float: left;">
							推荐优惠劵
						</div>
						<div class="more">
							<a style="color: #578307;" href="#">+更多</a>
						</div>
					</div>
					<ul>
											<li>
							<div class="hot_recom">
								<div>
									<img width="227px" height="143px"
										src="/coupon/goods0/img/1_112114_1329184433390_1691026488155734756.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/couponDetail.html?id=109" style="color:#FFF" class="canjbtn">[老北京涮羊肉东安南路店]自助48元/客
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
											<li>
							<div class="hot_recom">
								<div>
									<img width="227px" height="143px"
										src="/coupon/goods0/img/1_112114_1329184443750_4565850430125424346.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/couponDetail.html?id=110" style="color:#FFF" class="canjbtn">[小尖椒餐饮]9折优惠
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
											<li>
							<div class="hot_recom">
								<div>
									<img width="227px" height="143px"
										src="/coupon/goods0/img/1_112114_1329184457484_2815927536307802997.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/couponDetail.html?id=111" style="color:#FFF" class="canjbtn">[新东方千禧大酒店]自助餐7折
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
											<li>
							<div class="hot_recom">
								<div>
									<img width="227px" height="143px"
										src="/coupon/goods0/img/1_112114_1329184468875_-3383215279754727965.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/couponDetail.html?id=112" style="color:#FFF" class="canjbtn">[一鼎乾坤肥牛]菜品8折 
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
										</ul>
				</div>