<div class="coupon">
					<div class="title">
						<div style="float: left;">
							热门活动
						</div>
						<div class="more">
							<a style="color: #578307;" href="#">+更多</a>
						</div>
					</div>
					<ul>
					   						<li>
							<div class="hot_recom">
								<div>
									<img width="227" height="143"
										src="/coupon/goods0/img/1_112114_1329189193687_-3819001896661802832.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/activityDetail.html?id=4" style="color:#FFF" class="canjbtn">味好美家常经典菜谱式调料免费派发 
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
												<li>
							<div class="hot_recom">
								<div>
									<img width="227" height="143"
										src="/coupon/goods0/img/1_112114_1329189199687_-4296032411040215736.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/activityDetail.html?id=5" style="color:#FFF" class="canjbtn">味好美家常经典菜谱式调料免费派发 
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
												<li>
							<div class="hot_recom">
								<div>
									<img width="227" height="143"
										src="/coupon/goods0/img/1_112114_1329189221390_3421309390878556587.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/activityDetail.html?id=6" style="color:#FFF" class="canjbtn">味好美家常经典菜谱式调料免费派发 
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
												<li>
							<div class="hot_recom">
								<div>
									<img width="227" height="143"
										src="/coupon/goods0/img/1_112114_1329189242921_2667181625825379610.jpg" alt="" />
								</div>
								<div class="hot_recom_desc">
									<p>
										<a href="/coupon/activityDetail.html?id=7" style="color:#FFF" class="canjbtn">味好美家常经典菜谱式调料免费派发 
										</a>
									</p>
								</div>
							</div>
							<!--end for hot_recom-->
						</li>
						
					</ul>
				</div>