
        
        	<div class="week">
							<div class="week_I">
								<h2>
									精选商户
								</h2>
								<div>
								 									<ul class="week_A">
										<li>
											<p class="jing_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
											<a target="_blank" href="/coupon/shopdetail.html?id=101">
												<img width="225" height="140" src="/coupon/goods0/img/1_112114_1329189397843_9091773759916537544.jpg">
											</a>
										</li>
									</ul>
									  									<ul class="week_A">
										<li>
											<p class="jing_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
											<a target="_blank" href="/coupon/shopdetail.html?id=102">
												<img width="225" height="140" src="/coupon/goods0/img/1_112114_1329189401000_276761134875585119.jpg">
											</a>
										</li>
									</ul>
									  									<ul class="week_A">
										<li>
											<p class="jing_hongse"><img src="/coupon/res/jing_hong.png" alt=""/></p>
											<a target="_blank" href="/coupon/shopdetail.html?id=100">
												<img width="225" height="140" src="/coupon/goods0/img/1_112114_1329189404625_-6087533971127218326.jpg">
											</a>
										</li>
									</ul>
									  								</div>
							</div>
						</div>
        