
        
        <div class="week">
						<div class="week_I">
							<h2>
								精选优惠券
							</h2>
							<div>
							 								<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/couponDetail.html?id=109">
											<img width="225" height="90" src="/coupon/goods0/img/1_112114_1329189477484_4164232476943236571.jpg">
										</a>
									</li>
									<li class="week_A3">
										<span>  											      [老北京涮羊肉东安南路店]自助4...</span>
									</li>
									<li class="week_A5">
										有效期至
										<span>2012.1.31</span>
									</li>
								</ul>
															<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/couponDetail.html?id=110">
											<img width="225" height="90" src="/coupon/goods0/img/1_112114_1329189539625_-690623699617042063.jpg">
										</a>
									</li>
									<li class="week_A3">
										<span>   [小尖椒餐饮]9折优惠</span>
									</li>
									<li class="week_A5">
										有效期至
										<span>2012.1.31</span>
									</li>
								</ul>
															<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/couponDetail.html?id=111">
											<img width="225" height="90" src="/coupon/goods0/img/1_112114_1329189561937_-5495551454519522312.jpg">
										</a>
									</li>
									<li class="week_A3">
										<span>   [新东方千禧大酒店]自助餐7折</span>
									</li>
									<li class="week_A5">
										有效期至
										<span>2012.1.31</span>
									</li>
								</ul>
															<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/couponDetail.html?id=112">
											<img width="225" height="90" src="/coupon/goods0/img/1_112114_1329189577750_1968155538802597406.jpg">
										</a>
									</li>
									<li class="week_A3">
										<span>   [一鼎乾坤肥牛]菜品8折</span>
									</li>
									<li class="week_A5">
										有效期至
										<span>2012.1.31</span>
									</li>
								</ul>
															<ul class="week_A">
									<li>
										<a target="_blank" href="/coupon/couponDetail.html?id=113">
											<img width="225" height="90" src="/coupon/goods0/img/1_112114_1329189591859_-6286457335437550380.jpg">
										</a>
									</li>
									<li class="week_A3">
										<span>  											      [啡比寻茶]满30元抵用20元现...</span>
									</li>
									<li class="week_A5">
										有效期至
										<span>2012.1.31</span>
									</li>
								</ul>
														</div>
						</div>
					</div>

					<!--end for week-->