.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;text-align:left;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}




   body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote{margin:0;padding:0}

table {
    border-collapse: separate;
    clear: both;
}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
body{font-family:simsun;background:#fff;}
h1{padding:11px 0 0; margin-bottom:4px;font:normal 20px/30px ����;text-align:center;}
h2{font-size:14px;font-weight:700}
h3{font-size:12px}
h4{font-size:12px;font-weight:normal}
strong,.m_bold{font-weight:bold}
a{text-decoration:none;cursor:pointer}
a:link{color:#004276}
a:visited{color:#004276}
a:hover{text-decoration:underline;color:#ba2636}
input,select{font-size:12px}
/* Hides from IE-mac \*/
* html .clearfix{height:1%}
/* End hide from IE-mac */
  
  
  
  .mainWrap{margin:0 auto;position:relative;}
  .goodsadd{width:95%;background:#EEFEED;border:2px solid #9AD075;padding:0px;}
  .goodsList td{text-align:center;}
	.goodsadd td {
    padding-left: 10px;
    text-align: left;
	}
  .textArea{width:500px;height:100px;font-size:12px;}
  .close{  color: #B4B4B4;
    font: 20px "Comic Sans MS";
    margin: -5px 5px 0 0;
    padding: 0 0.3em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    text-decoration:none;
    }
    #toCreateType{position:absolute;top:30%;left:50%;margin-left:-320px;width:500px;background:#d1ddaa;border:3px solid #9AD075;}
    #footer{float:left;}
    .page_goto{float:left;margin-left:20px;display:inline;}
    .typeadd{margin:0 auto;width:500px;margin-top:50px;background:#d1ddaa;border:3px solid #9AD075;padding:20px;}
  	.pagin{padding-left:12px;padding-top:10px;}
  	.addbutton{
  	float:right;
  	 background-color: #F1F8B4;
    background: url("allbtbg2.gif") repeat scroll 0 0 #EFF7D0;
    border-bottom: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
    cursor: pointer;
    padding: 2px 5px;
    margin-top:10px;
    text-align:right;
    padding:0px 20px;
    dispaly:none;
    color:#00000;
    margin-right:1%;
    display:inline;
    *margin-top:-20px;
  	}
  	.top_nav{background:#e7e7e7;color:#ff3366;padding:5px 10px;width:98%;}
  	.uplevel{float:right;margin-right:1%;*margin-top:-20px;}
  	.text_cls{boder:1px solid #ccc;width:220px;height:18px;line-height:18px;padding-left:2px;}
    .prew_img{padding-bottom:20px;}
  .wait_img{padding:20px 0;color:red;}
  .inputForm{padding-bottom:20px;}
  
  .confirm_select{padding-top:10px;}
  